<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/header") %>
</head>
<body>
    <p>NO POKEMON OF THAT NAME, SORRY.</p>
      <%- include("../partials/footer") %>         
</body>
</html>